In [2]:
cd ../scheduler

/Users/gcallah/GitProjects/Scheduler/scheduler

# Welcome to Scheduler!

### Loading your excel spreadsheet data. You can download "my_data.xlsx" and edit with your own data (i.e: teachers, courses, rooms)

To do this please run the cell below (press Ctrl + Enter).

In [4]:
%run -i my_data_loader

Your excel data is now ready to use

### Double checking

Before continuing you may check that the courses, professors and classrooms are correct. Run the cell below. To do this please run the cell below (press Ctrl + Enter).

In [5]:
check_your_data

### See the schedule

Run the cell below to make the class schedule. To do this please run the cell below (press Ctrl + Enter).

In [10]:
show_me_the_schedule()

     Day             Course         Professor  Room          Period
0    MON            physics  Brian K. Dickson  745b  10:30 to 11:30
1    MON         calculus 1       Tim Simpson  115a  09:30 to 10:30
2    MON         calculus 4   Jamir Abdullah'   433  14:00 to 15:00
3    MON  molecular biology      Peter Parker   666  12:00 to 13:00
4    MON          chemistry   Jamir Abdullah'   666  15:00 to 16:30
5   TUES            physics  Brian K. Dickson  115a  09:00 to 10:00
6   TUES         calculus 4   Jamir Abdullah'   655  16:30 to 17:30
7   TUES          biology 1     Mike Williams  115b  11:00 to 12:30
8   TUES          biology 2      Peter Parker   433  13:30 to 14:30
9    WED            physics  Brian K. Dickson  115b  09:00 to 10:00
10   WED         calculus 1       Tim Simpson  745b  11:00 to 12:00
11   WED          biology 1     Mike Williams  115b  11:00 to 12:30
12   WED          biology 2      Peter Parker   655  09:30 to 10:30
13   WED       biochemistry       Gregg Woods  745b  09:30 to 11:00
14  THUR       astrophysics    Simon Valinski   655  10:30 to 11:30
15  THUR          biology 2      Peter Parker  745b  10:30 to 11:30
16   FRI         calculus 1       Tim Simpson  745b  09:30 to 10:30
17   FRI          chemistry   Jamir Abdullah'  115b  15:30 to 17:00