In [1]:
#cd ../scheduler

# Welcome to Scheduler!

### Loading the example data
To do this run the cell below (Ctrl + Enter).

In [1]:
%run -i example_data_loader

Data loaded successfully

### Visualising the data
Run the cell below to see the example professors, classrooms and courses

In [10]:
check_the_data

### See the schedule

In [11]:
show_me_the_schedule()

     Day             Course       Professor  Room          Period
0    MON         calculus 4     Tim Simpson   655  17:00 to 18:00
1   TUES          biology 2    Rachel Smith  745b  17:00 to 18:00
2    WED            physics      Lisa Jones  115a  14:00 to 15:00
3    WED          chemistry    Peter Parker  115a  13:00 to 14:30
4    WED       biochemistry    Peter Parker  745b  11:30 to 13:00
5    WED          biology 1    Peter Parker  115b  10:00 to 11:30
6    WED          biology 2    Rachel Smith   433  09:00 to 10:00
7    WED         calculus 1  Simon Valinski  115a  16:30 to 17:30
8    WED         calculus 4     Tim Simpson   433  15:00 to 16:00
9   THUR            physics      Lisa Jones  745b  13:30 to 14:30
10  THUR       biochemistry    Peter Parker   201  11:00 to 12:30
11  THUR          biology 2    Rachel Smith  115a  10:00 to 11:00
12  THUR  molecular biology    Peter Parker  115a  12:30 to 13:30
13  THUR         calculus 1  Simon Valinski  745b  08:30 to 09:30
14  THUR       astrophysics  Simon Valinski   666  09:30 to 10:30
15   FRI            physics      Lisa Jones  745b  09:30 to 10:30
16   FRI          chemistry    Peter Parker  115a  13:00 to 14:30
17   FRI          biology 1    Peter Parker  115b  09:00 to 10:30
18   FRI         calculus 1  Simon Valinski  745b  14:00 to 15:00