In [1]:
cd ../scheduler

C:\Users\dolly\Scheduler\scheduler

# Welcome to Scheduler!

### Loading your excel spreadsheet data. You can download "my_data.xlsx" and edit with your own data (i.e: teachers, courses, rooms)

To do this please run the cell below (press Ctrl + Enter).

In [2]:
%run -i my_data_loader

Your excel data is now ready to use

### Double checking

Before continuing you may check that the courses, professors and classrooms are correct. Run the cell below. To do this please run the cell below (press Ctrl + Enter).

In [3]:
check_your_data

### See the schedule

Run the cell below to make the class schedule. To do this please run the cell below (press Ctrl + Enter).

In [4]:
show_me_the_schedule()

     Day             Course         Professor  Room          Period
0    MON            physics        Lisa Jones  115a  13:30 to 14:30
1    MON         calculus 4  Elizabeth Walker   655  15:00 to 16:00
2    MON          biology 2      Peter Parker   201  10:00 to 11:00
3    MON       biochemistry       Gregg Woods   655  09:00 to 10:30
4   TUES         calculus 1           Chu Yen  745b  15:00 to 16:00
5   TUES          biology 2      Peter Parker   433  12:30 to 13:30
6   TUES  molecular biology      Peter Parker   433  13:30 to 14:30
7    WED            physics        Lisa Jones  115a  12:00 to 13:00
8    WED       astrophysics    Simon Valinski   655  10:00 to 11:00
9    WED         calculus 1           Chu Yen  745b  13:30 to 14:30
10   WED         calculus 4  Elizabeth Walker   201  09:30 to 10:30
11   WED          chemistry       Gregg Woods  115b  09:30 to 11:00
12  THUR            physics        Lisa Jones  745b  10:00 to 11:00
13  THUR          biology 1     Mike Williams  745b  09:30 to 11:00
14  THUR          biology 2      Peter Parker   666  13:00 to 14:00
15   FRI         calculus 1           Chu Yen  115b  16:30 to 17:30
16   FRI          biology 1     Mike Williams  115b  11:00 to 12:30
17   FRI          chemistry       Gregg Woods  115b  14:30 to 16:00