In [1]:
#cd ../scheduler

# Welcome to Scheduler!

### Loading your excel spreadsheet data. You can download "my_data.xlsx" and edit with your own data (i.e: teachers, courses, rooms)

To do this please run the cell below (press Ctrl + Enter).

In [2]:
%run -i my_data_loader

Your excel data is now ready to use

### Double checking

Before continuing you may check that the courses, professors and classrooms are correct. Run the cell below. To do this please run the cell below (press Ctrl + Enter).

In [5]:
check_your_data

### See the schedule

Run the cell below to make the class schedule. To do this please run the cell below (press Ctrl + Enter).

In [4]:
show_me_the_schedule()

     Day             Course       Professor  Room          Period
0    MON            physics      John Smith  115b  11:30 to 12:30
1    MON         calculus 1     Lisa Mullen  115a  11:30 to 12:30
2    MON          biology 1   Mike Williams  115b  12:30 to 14:00
3   TUES       astrophysics  Simon Valinski   201  13:00 to 14:00
4   TUES          biology 2    Peter Parker   666  10:00 to 11:00
5   TUES       biochemistry     Gregg Woods  745a  11:30 to 13:00
6   TUES          chemistry     Gregg Woods  115b  10:00 to 11:30
7    WED            physics      John Smith  745b  09:00 to 10:00
8    WED         calculus 1     Lisa Mullen  115b  12:00 to 13:00
9    WED          biology 1   Mike Williams  745b  10:00 to 11:30
10  THUR            physics      John Smith  115b  16:00 to 17:00
11  THUR         calculus 4     Tim Simpson   655  13:30 to 14:30
12  THUR          biology 2    Peter Parker   201  09:00 to 10:00
13   FRI         calculus 1     Lisa Mullen  115a  12:00 to 13:00
14   FRI         calculus 4     Tim Simpson  745b  08:00 to 09:00
15   FRI          biology 2    Peter Parker   433  09:30 to 10:30
16   FRI  molecular biology    Peter Parker  745b  12:00 to 13:00
17   FRI          chemistry     Gregg Woods   655  14:00 to 15:30